<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sanskar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src='main.js'></script>
</head>

<body>
    <div class="admin_bg space" id="spacemain">
        <div class="main mt-5 mb-5">
            <div class="card main">
                <div class="card-body">
                    <p style="color: green; font-size: larger;">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}

                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}

                        {% endif %}
                        {% endwith %}</p>
                    <h1></h1>


                    <h3 class="card-title">Are You Want To Show <b>User Details</b> Or <b>Admin Details</b></h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <a href="/admin_home"><img src="../static/images/download (2).jpeg" </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <a href="/show_admin"> <img src="../static/images/download (8).png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>