<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>Sanskar</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
    </script>


    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->

    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/js/main.js"></script>

    <!-- google icon link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />



</head>

<body class="body">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="btn-success btn m-1 aria-current=" href="/user_login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn-primary btn m-1" href="/admin_logout" style="justify-content: end;">Logout</a>
        </li>
        <li class="nav-item">

            <a class="btn-warning btn m-1" value="Go back!" onclick="history.back()"> Go back! </a>
        </li>
    </ul>
    <div class="mt-3" >
        
        <div class="tablespace tablefont">
            <h1 style="color: black;">User Details</h1> <a href="/add_user" class="btn btn-success  m-1"
                style="justify-content: flex-end;">Add New User</a>
            <a href="/show_admin" class="btn btn-secondary  m-1" style="justify-content: flex-end;">Show Admin Details</a>

            <p style="color: red;"> {{error}}</p>
            <p style="color: green; font-size: 20px;">
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% for message in messages %}
                {{ message }}
                {% endfor %}

                {% endif %}
                {% endwith %}

                {{passmsg}}
            </p>


            <table class="table table-hover font responsive " id="table" >

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>User_name</th>
                        <th>Action</th>


                    </tr>
                </thead>

                <tbody>
                    {% for row in Result %}
                    <tr class="font11">

                        <td>{{row.id}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.user_name}}</td>

                        <td>

                            <a href="/edit/{{row.id}}"  onclick="return confirm('Are You Sure To Update ?')">
                                <span class="material-symbols-outlined icon" >
                                    edit</span></a>

                            <a href="/delete/{{row.id}}" id="icon" onclick="return confirm('Are You Sure To Delete ?')">
                                <span class="material-symbols-outlined icon" >
                                    delete
                                </span>
                            </a>

                            <a href="/showduseretails/{{row.id}}" 
                                onclick="return confirm('Are You Sure To Update Profile ?')">
                                <span class="material-symbols-outlined icon" >
                                    account_circle
                                </span>
                            </a>


                            <a href="/editpassword/{{row.id}}" id="icon"
                                onclick="return confirm('Are You Sure To Change Password ?')">
                                <span class="material-symbols-outlined icon">
                                    key
                                </span>
                            </a>
                        </td>

                    </tr>
                    {% endfor%}

                </tbody>

            </table>
        </div>
    </div>

    </div>
</body>
<script>
    $(document).ready(function () {
        $("#table").dataTable();
    });
</script>

</html>