<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sanskar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/static/css/style.css">

    <script src='main.js'></script>
    <!-- google icon link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
    </script>


    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
</head>

<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="btn-success btn m-1 aria-current=" href="/user_login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn-primary btn m-1" href="/admin_logout" style="justify-content: end;">Logout</a>
        </li>
        <li class="nav-item">

            <a class="btn-warning btn m-1" value="Go back!" onclick="history.back()"> Go back! </a>
        </li>
    </ul>

    <div class="container">
        <div class="mt-5">


            <h2>User <b>Details </b> <a href="/add_user" class="btn btn-success float-right" style="justify-content: flex-end;">Add New
                    User</a> </h2>

            <table class="table table-hover table-light mt-2 ">
                <p style="color: red;"> {{error}}</p>
                <p style="color: green; font-size: 20px;">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}

                    {% endif %}
                    {% endwith %}

                    {{passmsg}}
                </p>

                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>User_name</th>
                    <th colspan="4">Action</th>


                </tr>

                {% for row in Result %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.user_name}}</td>

                    <td>

                        <a href="/edit/{{row.id}}" onclick="return confirm('Are You Sure To Update ?')">
                            <span class="material-icons">
                                edit
                            </span></a>
                    </td>
                    <td>
                        <a href="/delete/{{row.id}}" onclick="return confirm('Are You Sure To Delete ?')">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="/showduseretails/{{row.id}}"
                            onclick="return confirm('Are You Sure To Update Profile ?')">
                            <span class="material-icons">
                                account_circle
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="/editpassword/{{row.id}}"
                            onclick="return confirm('Are You Sure To Change Password ?')">
                            <span class="material-icons">
                                lock_open
                            </span>
                        </a>
                    </td>



                    </td>
                </tr>
                {% endfor%}
                <ul class="uk-pagination" data-uk-pagination="{items:100, itemsOnPage:10}" ></ul>
            </table>
        </div>
    </div>



    </div>


    </div>



</body>
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>



</strong>


</html>