<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sanskar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    
    <div class="admin_bg space">
        <div class="container">
        <div class="jumbotron p-3 col-12">
            <h2>  Create User Account <a class="btn-warning btn mr-1 float-right p-2" value="Go back!" onclick="history.back()"> Go back! </a>
                
            </h2>
        </div></div>
        <div class="form1">
            
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../static/images/download__1_-removebg-preview.png" class="img">
                        </div>
                        <div class="col-lg-6">
                           
                            <form action="{{url_for('create_user')}}" method="POST" onsubmit="createuser()"
                                name="myform" id="login">



                                <div class=" control-group">
                                    <label>Email:</label>
                                    <input class="form-control" name="email" type="email" id="email"
                                        oninput="onemail()">
                                    <p id="error" style="font-size: 10px; color:red;"></p>

                                </div>
                                <p style="color: red;">{{email}}</p>

                                <div class="control-group form-group">
                                    <label>User name:</label>
                                    
                                        <input class="form-control" name="username" type="text" id="username" oninput="onusername()">
                                        <p id="uname" style="font-size: 10px; color:red;"></p>
                                    <p style="color: red;">{{username}}</p>
                                </div>
                                <div class="control-group form-group">
                                    <label>Enter New Password:</label>

                                    <input class="form-control" id="newpassword" name="newpassword" type="password"
                                        oninput="onpassword()">

                                    <p id="password" style="font-size: 10px; color:red;"></p>
                                    <p style="color: red;">{{newpassword}}</p>

                                </div>
                                <div class="control-group form-group">

                                    <label>confirm password:</label>

                                    <input class="form-control" name="repassword" type="password" id="repassword"
                                        oninput="checkpassword()">
                                        <p id="aaa" style="font-size: 10px; color:red;"></p>
                                    <input type="checkbox" onclick="password()"> Show Password


                                    
                                    <p style="color: red;">{{repassword}}</p>
                                </div>
                                <p style="color: red;">{{error}}</p>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" id="submit">Add User</button>
                                    <a href="/admin_home" class="btn btn-secondary">Close</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        $('#login input').jqBootstrapValidation({
            preventSubmit: true,
        });
    });
</script>

</html>