<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sanskar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body><ul class="nav nav-pills">
    
    <li class="nav-item">
        <a class="btn-primary btn m-1" href="/admin_logout" style="justify-content: end;">Logout</a>
    </li>
    <li class="nav-item">

        <a class="btn-warning btn m-1" value="Go back!" onclick="history.back()"> Go back! </a>
    </li>
</ul>
    <div class="admin_bg space" id="space">
        <div class="form1">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../static/images/images (3).jpeg" class="mt-3">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="card-title">User Update</h2>
                            <form action="/update/{{Result.id}}" method="POST" novalidate="novalidate" name="myform" onsubmit="edituser()">
                                <div class="control-group form-group">
                                    <input name="id" type="hidden" value="{{Result.id}}">
                                    <label>Email:</label>
                                   
                                        <input class="form-control" name="email" value="{{Result.email}}" type="email" id="email" oninput="onemail()">
                                        <p id="error" style="font-size: 10px; color:red;"></p>
                                   
                                    <p style="color: red;">{{email}}</p>
                                </div>
                                <div class="control-group form-group">
                                    <label>User name:</label>
                                    <div class="controls">
                                        <input class="form-control" name="username" value="{{Result.user_name}}"
                                            type="text" id="username" oninput="onusername()">
                                            <p id="uname" style="font-size: 10px; color:red;"></p>
                                    </div>
                                    <p style="color: red;">{{username}}</p>
                                </div>

                                <p style="color: red;">{{error}}</p>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit" id="submit">Update</button>
                                    <a href="/admin_home" class="btn btn-secondary">Close</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(function () {
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    });
</script>

</html>