<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sanskar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>

<body>
    <div class="user_bg">
        <div class="form1">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="../static/images/images.png" class="img">
                        </div>
                        <div class="col-lg-7">
                            <h2 class="card-title">Update Password</h2>
                            {{msg}}
                            <p style="color: green; font-size: 20px;">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}

                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}

                                {% endif %}
                                {% endwith %}

                                {{passmsg}}
                            </p>
                            <form action="/updateuserpassword/{{Result.id}}" method="POST" novalidate="novalidate"
                                onsubmit="setnewpassword()">
                                <div class="form-group">

                                    <input class="form-control" name="email" value="{{Result.email}}" readonly>

                                </div>
                                <div class="control-group form-group">
                                    <input name="id" type="hidden" value="{{Result.id}}">
                                    <label>Enter New Password:</label>
                                    <div class="controls">
                                        <input class="form-control" name="newpassword" type="password"
                                            data-validation-regex-regex="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                            data-validation-regex-message="please enter lowecase,upercase ,digit and special chaecter"
                                            maxlength="15" minlength="5">

                                    </div>
                                    <p style="color: red;">{{newpassword}}</p>
                                </div>
                                <div class="control-group form-group">

                                    <label>confirm password:</label>
                                    <div class="controls">
                                        <input class="form-control" name="repassword" type="password"
                                            data-validation-regex-regex="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                            data-validation-regex-message="please enter lowecase,upercase ,digit and special chaecter"
                                            id="repassword" data-validation-match-match="newpassword">
                                        <input type="checkbox" onclick="password()"> Show Password

                                    </div>
                                    <p style="color: red;">{{repassword}}</p>
                                </div>
                                <p style="color: red;">{{error}}</p>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                    <a href="/user_login" class="btn btn-secondary">Close</a>
                                </div>
                                <p style=" color:red"> {% with messages = get_flashed_messages() %}
                                    {% if messages %}

                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}

                                    {% endif %}
                                    {% endwith %}
                                </p>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    $(function () {
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    });
</script>

</html>